<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>ReviewIndex</title>
</head>
<body bgcolor='cyan'>
<h1>Welcome to the Review index page</h1>
<ol>
    <li><a href="/getAllReview">Click Here For Getting All Movie Reviews</a></li>
    <li><a href="http://localhost:8083/MovieReview.html">Click Here getting review by a movie</a></li>
    <li><a href="http://localhost:8083/AddMovieReview.html">Click Here Add a Movie Review</a></li>
    <li><a href="http://localhost:8082/UpdateMovie.html">Click Here to Update a Movie Details</a></li>
    <li><a href="http://localhost:8082/DeleteMovie.html">Click Here to Delete a Movie Record</a></li>

</ol>

</body>
</html>